/* img{

        max-height: 45vh;
        height: 100%;
        width: 100%;
        object-fit: cover;
    
    }
 */


h1,
h2,
h3,
h4,
h5,
h6 {
  color: #152535;
  line-height: 1.3;
  font-weight: 700;
}

p {
  color: #828282;
  font-size: 14px;
  line-height: 2;
  font-weight: 400;
}

a,
a:hover,
a:focus {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  text-decoration: none;
  outline: 0 solid transparent;
  color: #1c1c1c;
  font-weight: 500;
  font-size: 14px;
  color: #828282;
}

ul,
ol {
  margin: 0;
}

ul li,
ol li {
  list-style: none;
}

img {
  height: auto;
  max-width: 100%;
}


.single-blog-post {
  position: relative;
  z-index: 1;
}

.single-blog-post .post-thumb a {
  display: block;
}

.single-blog-post .post-data {
  padding: 30px 0;
}

.single-blog-post .post-data .post-catagory {
  font-size: 14px;
  color: #ee002d;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
  display: block;
}

.single-blog-post .post-data .post-title {
  display: block;
}

.single-blog-post .post-data .post-title h6 {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  line-height: 1.9;
}

.single-blog-post .post-data .post-title h6:hover,
.single-blog-post .post-data .post-title h6:focus {
  color: #ee002d;
}

.single-blog-post .post-data .post-meta .post-date a {
  display: block;
}

.single-blog-post .post-data .post-meta .post-date a:hover,
.single-blog-post .post-data .post-meta .post-date a:focus {
  color: #ee002d;
}

.single-blog-post .post-data .post-meta .post-like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  -ms-grid-row-align: flex-end;
  align-items: flex-end;
}

.single-blog-post .post-data .post-meta .post-like span {
  line-height: 1;
  margin-left: 15px;
}

.single-blog-post .post-data .post-meta .post-like span:hover,
.single-blog-post .post-data .post-meta .post-like span:focus {
  color: #ee002d;
}

.single-blog-post .post-data .post-meta .post-comment {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  -ms-grid-row-align: flex-end;
  align-items: flex-end;
}

.single-blog-post .post-data .post-meta .post-comment span {
  line-height: 1;
  margin-left: 15px;
}

.single-blog-post .post-data .post-meta .post-comment span:hover,
.single-blog-post .post-data .post-meta .post-comment span:focus {
  color: #ee002d;
}

.single-blog-post.style-2 .post-data {
  padding: 15px 0;
}

.single-blog-post.style-2 .post-data .post-title h6 {
  font-size: 14px;
}

.single-blog-post.style-2 .post-data .post-meta .post-date a {
  font-size: 12px;
}

.single-blog-post.style-3 {
  margin-bottom: 15px;
}

.single-blog-post.style-3 .post-data {
  padding: 15px 0;
}

.single-blog-post.style-3 .post-data .post-title h6 {
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 30px;
}

.single-blog-post.featured-post {
  position: relative;
  z-index: 1;
}

.single-blog-post.featured-post .post-data {
  padding: 30px 0;
}

.single-blog-post.featured-post .post-data .post-title h6 {
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 20px;
  font-weight: 500;
}

@media only screen and (max-width: 767px) {
  .single-blog-post.featured-post .post-data .post-title h6 {
    font-size: 24px;
  }
}

.single-blog-post.featured-post .post-data .post-author {
  margin-bottom: 15px;
  display: block;
  width: 100%;
}

.single-blog-post.featured-post .post-data .post-author a {
  display: inline-block;
  color: #ee002d;
}

.single-blog-post.featured-post .post-data .post-excerp {
  font-weight: 500;
  margin-bottom: 40px;
  display: block;
  line-height: 2.1;
}

.single-blog-post.featured-post.single-post .post-data {
  padding: 30px 0;
}

.single-blog-post.featured-post.single-post .post-data p {
  margin-bottom: 15px;
}

.single-blog-post.featured-post.single-post .post-data .related--post {
  display: block;
  font-size: 18px;
  color: #2c61db;
  margin: 40px 0;
}

.single-blog-post.featured-post.single-post .post-data .related--post:hover,
.single-blog-post.featured-post.single-post .post-data .related--post:focus {
  color: #ee002d;
}

.single-blog-post.featured-post-2 {
  position: relative;
  z-index: 1;
  margin-bottom: 15px;
}

.single-blog-post.featured-post-2 .post-data {
  padding: 15px 0;
}

.single-blog-post.featured-post-2 .post-data .post-title h6 {
  font-size: 18px;
  line-height: 1.55;
  margin-bottom: 20px;
  font-weight: 500;
}

.single-blog-post.featured-post-2 .post-data .post-author {
  margin-bottom: 15px;
  display: block;
  width: 100%;
}

.single-blog-post.featured-post-2 .post-data .post-author a {
  display: inline-block;
  color: #ee002d;
}

.single-blog-post.small-featured-post {
  position: relative;
  z-index: 1;
  border-bottom: 1px solid #d0d5d8;
  padding: 20px 0;
}

.single-blog-post.small-featured-post .post-thumb {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 90px;
  flex: 0 0 90px;
  max-width: 90px;
  width: 90px;
  margin-right: 15px;
}

.single-blog-post.small-featured-post .post-data {
  padding: 0;
}

.single-blog-post.small-featured-post .post-data .post-catagory {
  margin-bottom: 10px;
  line-height: 1;
}

.single-blog-post.small-featured-post .post-data .post-title h6 {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 10px;
  font-weight: 700;
}

.single-blog-post.small-featured-post .post-data .post-date {
  margin-bottom: 0;
  line-height: 1;
}

.single-blog-post.small-featured-post:first-child {
  padding-top: 0;
}

.single-blog-post.small-featured-post:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
